In [37]:
import pandas as pd
import numpy as np

In [38]:
# what are vectorized operations
a=np.array([1,2,3,4])
a*4

array([ 4,  8, 12, 16])

In [39]:
# problem in vectorized operations in vanilla python
s = ['cat','mat',None,'rat']

[i.startswith('c') for i in s]
# firstly slow
# with the presence of none datatype it's crashing

AttributeError: 'NoneType' object has no attribute 'startswith'

In [ ]:
# how pandas solves this issue?

s = pd.Series(['cat','mat',None,'rat'])
# string accessor
s.str.startswith('c')

In [ ]:
# Import titanic
df = pd.read_csv('/content/titanic.csv')
df['Name']

In [ ]:
# common functions
# lower/upper/capitalize/title
a=df['Name'].str.lower()
b=df['Name'].str.lower()
c=df['Name'].str.capitalize()

# len
# to find the passenger with longest name
df['Name'][df['Name'].str.len() == 82].values[0]
#strip
'                                        nitish     '.strip()
df['Name'].str.strip()

In [ ]:
# split -> get
# create 3 columns seperate for surname, salutation(mr,mrs), name
df['lastname']=df['Name'].str.split(',').str.get(0)
df.head()

In [43]:
df[['title','firstName']]=df['Name'].str.split(',').str.get(1).str.strip().str.split(' ', n =1, expand = True)
# this parameter of split 'n' helps us to control how many splits we want
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,lastname,Salutations,title,firstName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,"[ Mr, Owen Harris]",Mr.,Owen Harris
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,"[ Mrs, John Bradley (Florence Briggs Thayer)]",Mrs.,John Bradley (Florence Briggs Thayer)
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,"[ Miss, Laina]",Miss.,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,"[ Mrs, Jacques Heath (Lily May Peel)]",Mrs.,Jacques Heath (Lily May Peel)
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,"[ Mr, William Henry]",Mr.,William Henry

In [45]:
df['title'].value_counts()
# ms,mlle and miss are same, we'll replace one with other
df['title']=df['title'].str.replace('Ms.','Miss.')
df['title']=df['title'].str.replace('Mlle.','Miss.')

df['title'].value_counts()

title
Mr.          517
Miss.        185
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Major.         2
Col.           2
Don.           1
Lady.          1
Mme.           1
Sir.           1
Capt.          1
the            1
Jonkheer.      1
Name: count, dtype: int64

In [49]:
# filtering
# startswith/endswith
df[df['firstName'].str.startswith('A')]
# isdigit/isalpha...
df[df['firstName'].str.isdigit()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, lastname, Salutations, title, firstName]
Index: []