In [1]:
import pandas as pd
import numpy as np

In [3]:
# what are vectorized operations
a=np.array([1,2,3,4])
a*4

array([ 4,  8, 12, 16])

In [6]:
# problem in vectorized operations in vanilla python
s = ['cat','mat',None,'rat']

[i.startswith('c') for i in s]
# firstly slow
# with the presence of none datatype it's crashing

AttributeError: 'NoneType' object has no attribute 'startswith'

In [7]:
# how pandas solves this issue?

s = pd.Series(['cat','mat',None,'rat'])
# string accessor
s.str.startswith('c')

0     True
1    False
2     None
3    False
dtype: object